node_modules
.next
.git
.github
.gitignore
.env
.env.*
.husky
coverage
playwright-report
test-results
blob-report
tests
*.md
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.idea
.vscode
